/* === KERANJANG === */
.table th {
    background-color: rgb(114, 2, 114);
    color: #000000;
}

.btn-minus, .btn-plus {
    border-radius: 50% !important;
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table img {
    transition: .3s;
}

.table img:hover {
    transform: scale(1.1);
}